<section class="customers section">
    <div class="customers container">
        <div>
            <h1 class="customers-title">What our Customers Say</h1>
            <p class="customers-subtitle">Don't just take our word for it - see what our satisfied customers have to say</p>
        </div>

        <article class="article-one">
            <ul class="customers-rating-list">
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <ul class="customer-box">
                <li class="customer-item">
                    <h2 class="customer-review">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</h2>
                    <div class="customer-info">
                        <img class="customer-image" src="" alt="customer's photo">
                        <h3 class="customer-name">Sumith Shah</h3>
                        <p class="customer-description">Some Dude</p>
                    </div>
                </li>
            </ul>
        </article>

        <article class="article-two">
            <ul class="customers-rating-list">
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="customers-item">
                    <a href="">
                        <svg class="customers-icon" width="17" height="16">
                        <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <ul class="customer-box">
                <li class="customer-item">
                    <h2 class="customer-review">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</h2>
                    <div class="customer-info">
                        <img class="customer-image" src="" alt=" customer's photo">
                        <h3 class="customer-name">Sumith Shah</h3>
                        <p class="'customer-description">Some Dude</p>
                    </div>
                </li>
            </ul>
        </article>
    </div>
</section>