<section class="favorites-section">
  <div class="favorites-container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">Looking for something delicious?</p>
    <ul class="favorites-list">
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./images/03-features/desktop.jpg"
          srcset="./images/03-features/desktop@2x.jpg 2x"
          alt="Gamburger"
          width="100%"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./images/03-features/desktop.jpg"
          srcset="./images/03-features/desktop@2x.jpg 2x"
          alt="Pasta"
          width="100%"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./images/03-features/desktop.jpg"
          srcset="./images/03-features/desktop@2x.jpg 2x"
          alt="Pizza"
          width="100%"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./images/03-features/desktop.jpg"
          srcset="./images/03-features/desktop@2x.jpg 2x"
          alt="Chicken"
          width="100%"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./images/03-features/desktop.jpg"
          srcset="./images/03-features/desktop@2x.jpg 2x"
          alt="Salad"
          width="100%"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-img"
          src="./images/03-features/desktop.jpg"
          srcset="./images/03-features/desktop@2x.jpg 2x"
          alt="Borshch"
          width="100%"
        />
      </li>
    </ul>
  </div>
</section>
