<footer class="footer-section">

<div class="container footer-block">
    <div class="footer-block-menu">
        <img class="footer-logo" src="../img/footer/logo.svg">
        </img>
        <ul class="footer-menu-list">
            <li class="footer-menu-item"><a class="footer-menu-link" href="">Home</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="">About</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="">Service</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="">Menu</a></li>
            <li class="footer-menu-item"><a class="footer-menu-link" href="">Contact</a></li>
        </ul>
        <div class="footer-subscribe-block">
            <p class="footer-subscribe-text">Subscribe</p>
            <div class="footer-input-subscribe-info">
                <form class="footer-form">
                    <input class="offers-input" type="email" name="user-email" id="email"
                        placeholder="Enter your email">
                    <button type="submit" class="footer-btn">Subscribe</button>
                </form>
                <p class="privacy-policy-text">By subscribing you agree to with our&nbsp; <a href=""
                        class="privacy-policy-link">Privacy Policy</a> </p>
            </div>
        </div>
    </div>
    <div class="footer-block-additional-info">
        <ul class="footer-additional-info-list">
            <li class="footer-additional-info-item"><a class="footer-additional-info-link" href="">Privacy Policy</a>
            </li>
            <li class="footer-additional-info-item"><a class="footer-additional-info-link" href="">Terms of Service</a>
            </li>
            <li class="footer-additional-info-item"><a class="footer-additional-info-link" href="">Cookies Settings</a>
            </li>
        </ul>
        <p class="footer-copiryte-text">2022 FoodSta. All right reserved.</p>
    </div>
    <div class="footer-bg-images-block">
        <img class="footer-bg-image" src="../img/footer/desktop/fonebg.png">
        </img>
    </div>
</div>

</footer>