<header class="header">
  <div class="header-container container">
    <div class="header-wraper">
      <svg class="header-logo">
        <use href="./img/header/header-icon.svg#icon-logo"></use>
      </svg>

      <div class="header-right-section">
        <nav class="header-navigation">
          <ul class="header-list">
            <li class="header-item">
              <a class="header-link" href="">Home</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="">About</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="">Service</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="">Menu</a>
            </li>
            <li class="header-item">
              <a class="header-link" href="">Contact</a>
            </li>
          </ul>
        </nav>

        <button type="button" class="mobile-button">Order Now</button>
      </div>
    </div>

    <button type="button" class="mobile-burger">
      <svg class="mobile-burger-icon">
        <use href="./img/header/header-icon.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
