<header class="container">
  <div class="header-container">
    <svg class="header-logo">
      <use href=""></use>
    </svg>
    <nav class="header-navigation">
      <a href="" class="header-logo"></a>

      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">About</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Service</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Menu</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- кнопка -->

    <button type="button" class="mobile-button">
      Order Now
      <svg class="mobile-button-icon">
        <use href=""></use>
      </svg>
    </button>
  </div>

  <!-- кнопка бургер -->
  <button type="button" class="mobile-burger">
    burger
    <svg class="mobile-burger-icon">
      <use href=""></use>
    </svg>
  </button>

  <!-- моб меню НАПОВНЕННЯ -->

  <div class="mobile-menu">
    <button class="mobile-menu-close-btn">
      close
      <svg class="mobile-menu-close-icon">
        <use href=""></use>
      </svg>
    </button>

    <div class="mobile-menu-wrapper">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="">About</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="">Service</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="">Menu</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
