<!-- моб меню НАПОВНЕННЯ -->

<div class="mobile-menu-wrapper">
  <button class="mobile-menu-close-btn">
    close
    <svg class="mobile-menu-close-icon">
      <use href=""></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Home</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">About</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Service</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Menu</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Contact</a>
    </li>
  </ul>
</div>
