<section class="offers-section">
    <div class="container">
        <h2 class="offers-title">Subscribe To Get Special Offers</h2>
        <p class="offers-text">Order now and receive 10% off your first meal with Enjoy Your Favorite Food From Anywhere.</p>
        <form class="offers-form">
            <input class="offers-input-wrap"
            type="email"
            name="user-email"
            id="email"
            placeholder="Enter your email"
            >
            <button type="submit" class="offers-btn">Subscribe</button>
        </form>
        <picture class="offers-image">
            <source media="(min-width: 1280px)" srcset="../img/offers/desktop/banan-desktop.png 1x, ../img/offers/desktop/banan-desktop@2x.png 2x">
            <source media="(min-width: 768px)" srcset="../img/offers/tablet/banan-tablet.png 1x, ../img/offers/tablet/banan-tablet@2x.png 2x">
            <source media="(max-width: 767px)" srcset="../img/offers/mobile/banan-mob.png 1x, ../img/offers/mobile/banan-mob@2x.png 2x">
            <img src="../img/offers/desktop/banan-desktop.png" srcset="../img/offers/desktop/banan-desktop@2x.png 2x" alt="banan">     
        </picture>
    </div>
</section>