<section class="offers-section">
    <div class="container">
        <h1 class="offers-title">Subscribe To Get Special Offers</h1>
        <p class="offers-text">Order now and receive 10% off your first meal with Enjoy Your Favorite Food From Anywhere.</p>
        <form class="offers-form">
            <input class="offers-input"
            type="email"
            name="user-email"
            id="email"
            placeholder="Enter your email"
            >
            <button type="submit" class="offers-btn">Subscribe</button>
        </form>
    </div>
    <div class="offers-image">
        <img src="" alt="banana">
    </div>
</section>