.customers-section {
     background-image: url(../img/customers/customers-bg.webp);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     height: auto;
     padding-bottom: 60px;
     padding-top: 60px;
}


@media screen and (min-device-pixel-ratio:2) and (min-width: 320px), 
screen and (min-resolution:192dpi) and (min-width: 320px), 
screen and (min-resolution:2dppx) and (min-width: 320px) {
     .customers-section  {
          background-image: url(../img/customers/customers-bg@2x.webp);
     }
}

.customers-title {
     font-weight: 700;
     font-size: 28px;
     line-height: 1.17;
     color: var(--black);
}

.customers-subtitle-mobile {
     font-size: 14px;
     line-height: 1.14;
     color:var(--black);  
     margin-top: 20px;
     margin-bottom: 32px;
}

.customers-list {
     display: flex;
     gap:24px;
     flex-direction: column;
}

.customers-article {
     background-color: var(--white-color);
     border-radius: 0px 30px 30px 30px;
     padding: 8px;
}


.customers-icon-list {
     display: flex;
     margin-bottom: 28px;
     gap: 4px;
}


.customers-review {
     font-weight: 700;
     font-size: 16px;
     line-height: 1.18;
     color: var(--black);
     margin-bottom: 40px;
}

.customers-image {
     width:48px;
     height:48px;
}


.customers-info {
     display: flex;
}

.customers-box-sideline {
     height: 100%;
     position: relative;
     margin-left:16px;
     padding-right:16px;
}

.customers-box-sideline::after {
     content: "";
     position: absolute;
     right: 0;
     top: 0;
     height: 100%;
     border-right: 0.85px solid var(--dark-green);
     padding-right: 16px;
}

.customers-name {
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.5;
     color: var(--black);
}

.customers-description {
     font-size: 14px;
     line-height: 1.5;
     color: var(--black);
}

@media screen and (min-width: 480px) and (max-width:767px)  {
     .customers-section {
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: auto;
          padding-bottom: 60px;
          padding-top: 60px;
          background-image: url(../img/customers/customers-bg-mobile.webp);
     }    
}


@media screen and (min-device-pixel-ratio:2) and (min-width: 480px), 
screen and (min-resolution:192dpi) and (min-width: 480px), 
screen and (min-resolution:2dppx) and (min-width: 480px) {
     .customers-section {
          background-image: url(../img/customers/customers-bg-mobile@2x.webp);
     }
}





@media screen and (min-width:768px) and (max-width:1279px)  {
     .customers-section {
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: auto;
          padding-bottom: 120px;
          padding-top: 60px;
          background-image: url(../img/customers/customers-tablet.webp);
     }    
}


@media screen and (min-device-pixel-ratio:2) and (min-width: 768px), 
screen and (min-resolution:192dpi) and (min-width: 768px), 
screen and (min-resolution:2dppx) and (min-width: 768px) {
     .customers-section {
          background-image: url(../img/customers/customers-tablet@2x.webp);
     }
}



@media screen and (min-width:768px) and (max-width:1279px)  {
     .customers-title {
          font-size: 42px;
          line-height: 1.16;
     }
    
     .customers-subtitle-mobile {
          display: none;
     }

     .customers-list {
          display: flex;
          gap:32px;
          flex-direction: row;

     }
     
     .customers-article {
          padding:12px;
     }

     .customers-icon-list {
          display: flex;
     }
     
     .customers-review {
          font-size: 18px;
          line-height: 1.16;
     }
     
     .customers-subtitle {
          font-size: 16px;
          line-height: 1.18;
          color: var(--black);
          margin-top: 20px;
          margin-bottom: 32px;
     }
}




@media screen and (min-width:320px) and (max-width:479px)  {
     .customers-subtitle {
          display: none;
     }
}   





@media screen and (min-width:480px) and (max-width:767px)  {
     .customers-subtitle {
          display: none;
     }
     
}




@media screen and (min-width:1280px) {
      .customers-section {
          padding-top: 100px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: auto;
          padding-bottom: 200px;
          background-image: url(../img/customers/customers-desktop.webp);
     }
}


@media screen and (min-device-pixel-ratio:2) and (min-width: 1280px), 
screen and (min-resolution:192dpi) and (min-width: 1280px), 
screen and (min-resolution:2dppx) and (min-width: 1280px) {
     .customers-section {
          background-image: url(../img/customers/customers-desktop@2x.webp);
     }
}

@media screen and (min-width:1280px)   {
     .customers-subtitle-mobile {
          display: none;
     }

     .customers-article {
          padding: 14px;
          width: 501px;
     }

     .customers-title {
          margin-bottom: 20px;
          font-size: 42px;
          line-height: 1.16;
     }

     .customers-subtitle {
          font-size: 16px;
          line-height: 1.18;
          color:var(--black);
     }

     .customers-list {
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          gap: 139px;
          margin-top: 32px;
     
     }
     
     .customers-review {
          font-size: 18px;
          line-height: 1.16;
     }

     .customers-link-one {
          transition: box-shadow var(--duration) var(--timing);
     }

     .customers-link-one:hover,
     .customers-link-one:focus {
          box-shadow: -10px 20px 0 0 var(--button-green);
          border-radius: 0px 30px 30px 30px;
          outline: none;
          display:block;
     }

     .customers-link-two {
          transition: box-shadow var(--duration) var(--timing);
     }

     .customers-link-two:hover,
     .customers-link-two:focus {
          box-shadow: 10px -20px var(--button-green);
          border-radius: 0px 30px 30px 30px;
          outline: none;
          display:block;
     }
}



































     
 