.favorites-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white-color);
}
.favorites-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--black);
  max-width: 280px;
}
.favorites-text {
}
.favorites-list {
}
.favorites-item {
}
.favorites-img {
}

@media screen and (min-width: 768px) {
  .favorites-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .favorites-title {
    font-size: 42px;
    line-height: 1.16;
    width: 656px;
  }
}

@media screen and (min-width: 1280px) {
  .favorites-section {
    padding-bottom: 92px;
  }
}
