@media screen and (min-width: 320px) {
    .footer-block-menu {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 64px;
        padding-bottom: 60px;
    }

    .footer-logo-menu {
        display: flex;
        align-items: flex-start;
        gap: 46px;
    }

    .footer-additional-info-link {
        color: var(--dark-green);
        font-weight: 400;
        font-size: 10px;
        line-height: 1.16;
        text-decoration: underline;
    }

    .footer-form {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .footer-block-additional-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;

    }

    .footer-block-menu:last-child {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;

    }

    .privacy-policy-link {
        color: var(--dark-green);
        font-weight: 400;
        font-size: 10px;
        line-height: 1.16;
        text-decoration: underline;
    }

    .footer-menu-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-block {
        padding-top: 60px;
        padding-bottom: 60px;
        background-image: url('../img/footer/mobile/bottomgroup.png'), url('../img/footer/mobile/legtgroup.png'), url('../img/footer/mobile/rightgroup.png');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom, left top 31%, right top;


    }

    .privacy-policy-text {
        font-size: 10px;
    }

}

@media screen and (min-width: 768px) {

    .footer-logo-menu {
        display: flex;
        align-items: center;
        gap: 114px;
    }

    .footer-additional-info-link {
        color: var(--dark-green);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        text-decoration: underline;
    }

    .privacy-policy-link {
        color: var(--dark-green);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        text-decoration: underline;
    }

    .footer-block-additional-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .privacy-policy-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        color: var(--black);

    }

    .footer-block {
        background-image: url('../img/footer/tablet/bgmobile.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-menu-link {
        color: var(--border-round-color);
    }

    .footer-menu-list {
        margin-right: 233px;
        gap: 28px;
        flex-direction: row;
    }

    .footer-block-menu {
        padding-bottom: 100px;
        display: flex;
        align-items: center;

        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-form {
        margin-bottom: 12px;
        display: flex;
    }
}

@media screen and (min-width: 1280px) {
    .footer-logo-menu {
        display: flex;
        align-items: center;
        gap: 148px;
    }

    .footer-block {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url('../img/footer/desktop/fonebg.png');
        background-repeat: no-repeat;
        background-position: bottom right 16px;
    }

    .footer-subscribe-block {
        margin-top: 0;
    }

    .footer-additional-info-link {
        color: var(--dark-green);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        text-decoration: underline;
    }

    .footer-block-additional-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

    }

    .privacy-policy-link {
        color: var(--dark-green);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        text-decoration: underline;
    }

    .privacy-policy-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        color: var(--black);

    }

    .footer-block-menu {
        display: flex;
        align-items: flex-start;
        padding-bottom: 80px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-menu-list {
        display: flex;
        gap: 28px;
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
    }

    .footer-form {
        margin-bottom: 12px;
        display: block;
    }
}

.footer-block {
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer-logo {
    width: 66px;
    height: 52px;


}

.footer-menu-link {
    font-size: 14px;
    color: var(--black);
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--black);
    margin-bottom: 12px;
}

.footer-btn:hover,
.footer-btn:focus {
    border-color: var(--yellow-main);
}

.offers-input-wrap {
    margin-right: 13px;
    width: 279px;
    height: 42px;
    background: var(--white-round);

    border: 0.854167px solid var(--yellow-main);
    border-radius: 30px;
    padding-left: 12px;
}

.footer-btn {
    width: 103px;
    height: 42px;
    background: var(--white-round);
    border: 0.854167px solid var(--dark-green);
    border-radius: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--black);
    transition: border-color var(--duration) var(--timing);
}




.footer-additional-info-list {
    display: flex;
    gap: 20px;
}

.footer-copiryte-text {

    font-size: 12px;
    line-height: 1.16;
    color: var(--black);
}

.footer-bg-images-block {

    position: absolute;
    bottom: 0;
    z-index: -1;
}


.offers-input-wrap:not(:placeholder-shown):required:valid {
    border-color: var(--dark-green);
}

.offers-input-wrap:not(:placeholder-shown):required:invalid {
    border-color: var(--error-background);
}


.offers-input-wrap::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;

}