.header-wraper {
    display: none;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .header-wraper {
        display: flex;
    }

    .mobile-burger {
        display: none;
    }
}



@media screen and (min-width: 1200px)